
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
h1 {
    font-size: 4em;
    font-family: 'Special Elite', cursive;
}
h2 {
    font-size: 1.5em;
}
.carouselsize {
    max-width: 975px;
    max-height: 720px;
}
.fixedbutton {
    position: fixed;
    bottom: 25px;
    right: 25px; 
}
.card {
    height: 550px;
}
.card-img-top:hover {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
}

.header-icon:hover{
    -webkit-transform:scale(1.1);
     transform:scale(1.1);
}
.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
.bi {
    vertical-align: -.125em;
    fill: white;
  }
.map-responsive {
    overflow:hidden;
    padding-bottom: 50px;
    position:relative;>
    height:0;
    }
    
.map-responsive iframe {
    left:0;
    top:0;
    width:50%;
    }
    @media screen and (min-width: 768px) {
        body {
            background: content-box radial-gradient(white, grey);
        }
    }
    @media screen and (max-width: 768px) {
        body {
            background-color: lightgrey;
        }
    }
